extends layout

block content
  
  div#loginPage
    h1= title.name
    p Welcome to #{title.name}
    input(
    type='checkbox'
    name='agreement'
    checked
    )
    input(
    type='text'
    name='agreement'
    )
    div(class='div-class', (click)='play()') 点击运行
    - var btnType = 'info'
    - var btnSize = 'lg'
    button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) 登录
    |
    |
    button(type='button' class=`btn btn-${btnType} btn-${btnSize}`) 注册
